// Package models is a test
package models

import (
	"time"
	t "test"
)

// User is a model.
type User struct {
	ID        int64     `json:"id"`
	Name      string    `json:"name"`
	Email     string    `json:"email"`
	Password  string    `json:"password"`
	CreatedAt time.Time `json:"created_at"`
	UpdatedAt time.Time `json:"updated_at"`
}

// Test is a model.
type Test struct {
	ID        int64     `json:"id"`
	Name      string    `json:"name"`
	Email     string    `json:"email"`
}

/* this is a func */
func test(t int) {
	fmt.Println(t)
}


/* this is a func */
func test_1(t int, a string) {
	fmt.Println(t + a)
}
