// Package models is a test
package models

type User struct {
	ID        int64     `json:"id"`
	Name      string    `json:"name"`
	Email     string    `json:"email"`
	Password  string    `json:"password"`
	CreatedAt time.Time `json:"created_at"`
	UpdatedAt time.Time `json:"updated_at"`
}

func (u *User) Address() string {
	return fmt.Sprintf("<%s> %s", u.Name, u.Email)
}

func (p *User) ChangePassword(new string) string {
    p.Password = new;
	return fmt.Sprintf("New pass: <%s>", p.Password)
}