package models

import (
	. "fmt"
	t "time"
)

type User struct {
	ID        int64  `json:"id,uuidTest"`
	Name      string `json:"name" bson:""`
	CreatedAt t.Time `json:"created_at"`
}

func (u *User) getName() string {
	return u.Name
}

func show(name string, age int64) {
	fmt.Println(age, name)
}

func welcome() string {
	return "Welcome"
}
