// Package models is a test
package models

import (
	"fmt"
	t "time"
)

// User is a model.
type User struct {
	ID        int64  `json:"id,uuidTest"`
	Name      string `json:"name" bson:""`
	CreatedAt t.Time `json:"created_at"`
}

func (u *User) getName() string {
	fmt.Println("a")
	return u.Name
}
