package models

import (
	"fmt"
	. "os"
	t "time"
)

type User struct {
	ID        int64  `json:"id,uuidTest"`
	Name      string `json:"name" bson:""`
	CreatedAt t.Time `json:"created_at"`
}

func (u *User) getName() string {
	_, ok := Stat("file.go")
	if IsNotExist(ok) {
		return "File not found"
	}
	fmt.Println(u.Name)
	return u.Name
}
